@page "/Products"
<h3>Products</h3>
fdfdfddf szmatadsdsds

<aside class="right-sidebar">
    cxdc
    szmata
</aside>


<style>
    .right-sidebar {
        top: 0;
        right: 0;
        position: absolute;
        width: 300px;
        height: 100vh;
        background-color: blue;
    }
</style>
@code {
    
}